<%= javascript_include_tag "active_admin_csv_import/import_csv" %>

<h3>Import <%= active_admin_config.resource_name.pluralize.humanize %> from a CSV File<h3>
<ul>
  <li>Save a CSV as 'Windows Comma Separated' from Excel.</li>
  <li>Your CSV should have the following column headings: <%= @fields.map(&:to_s).map(&:humanize).to_sentence %>. The order doesn't matter.</li>
  <li>If a record already exists a duplicate will be created.</li>
</ul>
<input id="csv-file-input" type="file">

<div id="csv-import-progress"></div>
<div id="csv-import-errors"></div>

<script type="text/javascript">
  var import_csv_fields = <%= @fields.to_json.html_safe %>;
  var import_csv_path = <%= @post_path.to_json.html_safe %>;
  var import_csv_resource_name = <%= active_admin_config.resource_name.underscore.to_json.html_safe %>;
  var redirect_path = <%= @redirect_path.to_json.html_safe %>;
  var import_row_delay = <%= @row_delay.to_json.html_safe %>;
</script>