<%= javascript_include_tag "active_admin_csv_import/import_csv" %>

<%= render partial: 'admin/csv/instructions' %>

<input id="csv-file-input" type="file">

<div id="csv-import-progress"></div>
<div id="csv-import-errors"></div>

<script type="text/javascript">
  var import_csv_columns = <%= @columns.to_json.html_safe %>;
  var import_csv_required_columns = <%= @required_columns.to_json.html_safe %>;
  var import_csv_path = <%= @post_path.to_json.html_safe %>;
  var import_csv_resource_name = <%= active_admin_config.resource_name.to_s.underscore.to_json.html_safe %>;
  var redirect_path = <%= @redirect_path.to_json.html_safe %>;
  var import_csv_delimiter = "<%= ActiveAdmin.application.csv_options[:col_sep] || ';'  %>";
</script>
